@import url('site.css');

body {
  padding: 0;
  margin: 0;
}

body[data-buttonsize='small'] section {
  width: 100%;
}

body[data-buttonsize='large'] section {
  width: calc(100% - 6rem);
  margin-left: 3rem;
}

section {
  display: none;
  text-align: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
}

section:target {
  display: flex;
}

img {
  flex: 1;
  object-fit: contain;
  min-height: 0;
}

section#done {
  align-items: center;
  justify-content: center;
}

#done a {
  font-size: 2em;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  width: 18em;
  border: 1px solid black;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  background-color: var(--page-color);
}

#done a:hover {
  filter: invert(100);
}

h1 {
  font-size: 2em;
}

body[data-buttonsize='small'] p {
  width: calc(100% - 6rem);
}

p {
  font-size: 2em;
  min-height: 2.4em;
  margin: auto;
}

p#author {
  font-size: 1em;
  min-height: 1.2em;
}

span {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1em;
  padding: 1em;
}

a.next,
a.back {
  bottom: 0;
}
