@import url('site.css');

body {
  padding: 0;
  margin: 0;
}

section {
  display: none;
  text-align: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
}

section:target {
  display: flex;
}

img {
  flex: 1;
  object-fit: contain;
  min-height: 0;
}

section#done {
  align-items: center;
  justify-content: center;
}

#done a {
  font-size: 2em;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  width: 18em;
  border: 1px solid black;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  background-color: var(--page-color);
}

#done a:hover {
  filter: invert(100);
}

p {
  font-size: 3em;
  min-height: 3.6em;
  margin: auto;
  width: 84%;
}

p#author {
  font-size: 1em;
  min-height: 1.2em;
}

span {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1em;
  padding: 1em;
}
