<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../index.css">
    <title>{{name}}</title>
</head>

<body>
    <ul>
    {{#books}}
        <li id="{{id}}" class="{{icons}}">
            <a href="{{link}}.html#p1">
                <h1>{{title}}</h1>
                <p>{{author}}</p>
                <img src="{{image}}">
                <span>{{pages}}</span>
            </a>
        </li>
    {{/books}}
    </ul>
    {{#back}}
    <a class="back" href="{{back}}">Back</a>
    {{/back}}
    {{#next}}
    <a class="next" href="{{next}}">Next</a>
    {{/next}}
</body>

</html>
