<!DOCTYPE html>
<head>
    <title>Static Tar Heel Reader</title>
</head>
<body>
    <h1>Static Tar Heel Reader
    <p>This is an experiment with a statically renderered version of Tar Heel Reader.
    <a href="{{start}}">Start here.</a>
</body>